.y-card {
  background-color: lightgoldenrodyellow;
  padding: 100px;
  text-align: center;
  border-radius: 20px;
  font-size: 4em;
}

a {
    display: block;
    text-decoration: none;
}

.row { 
    padding: 0 !important;
    margin: 0 !important;
}

.d-flex {
  height: 100vh;
  background-image: url("/assets/cloud.svg");
  background-size: cover;
}