.y-card {
  background-color: rgba(247, 247, 155, 0.651);
  padding: 100px;
  text-align: center;
  border-radius: 20px;
  font-size: 3em;
}

a {
    display: block;
    text-decoration: none;
}

.row { 
    padding: 0 !important;
    margin: 0 !important;
}

.d-flex {
  background-image: url("../assets/body-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}