.y-card {
  background-color: lightgoldenrodyellow;
  padding: 100px;
  text-align: center;
  border-radius: 20px;
  font-size: 4em;
}

   
// .y-cloud:before {
//     content: "\f0c2";  /* this is your text. You can also use UTF-8 character codes as I do here */
//     font-family: FontAwesome;
//     top: -2000px;
//     font-size: 80vh;
//     position:absolute;
//     opacity: 0.2;
//     color: skyblue;
//     top:0;
//  }