<div class="d-flex">
    <div class="row" style="text-transform: uppercase;font-size: 3em;color: #337ab7;">
        <div class="col-md-4" style="margin-top: 20vh;padding-left: 50px;">
            Scan and Upload
        </div>
    </div>
    <div class="row" style="margin-top: 20vh;">
        <div class="col-md-6" style="padding: 50px;">
            <div class="y-cloud"></div>
            <a class=" y-card" href="/scan">
                Scan
                <i class="fa fa-print"></i>
            </a>
        </div>
        <div class="col-md-6" style="padding: 50px;">
            <div class="y-cloud"></div>
            <a class="y-card" href="/upload">
                Upload
                <i class="fa fa-cloud-upload"></i>
            </a>
        </div>
    </div>
</div>