<div class="d-flex">
    <div class="row" style="text-transform: uppercase;font-size: 2em;color: #337ab7;">
        <div class="col-md-4 col-md-offset-3" style="margin-top: 20vh;padding-left: 50px;">
            Scan and Upload
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3" style="padding: 50px; padding-top: 20px; padding-bottom: 10px;">
            <label style="text-transform: uppercase;color: #337ab7;" for="basic-url">Select Scanner &nbsp;<i class="fa fa-print" style="font-size: 1.5em;"></i></label>
            <span class="dropdown">
                <button style="width: 20vw;text-align: left;" class="btn btn-default dropdown-toggle" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </span>
            <a type="button" class="btn btn-warning" style="margin-left: 10px;" href="/select-files">Scan</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3" style="padding: 50px;padding-top: 0px;">
            <button type="button" class="btn btn-warning">Cancel</button>
        </div>
    </div>
</div>