<div class="d-flex">
    <div class="row" style="text-transform: uppercase;font-size: 2em;color: #337ab7;">
        <div class="col-md-4 col-md-offset-3" style="margin-top: 20vh;padding-left: 50px;">
            Scan and Files
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-3" style="padding: 50px; padding-top: 20px; padding-bottom: 10px;">
            <label style="text-transform: uppercase;color: #337ab7;" for="basic-url">Select Scanner &nbsp;<i class="fa fa-cloud-upload" style="font-size: 1.5em;"></i></label>
            <div class="row">
                <span class="col-md-6">
                    <input type="text" class="form-control" placeholder="Search">
                </span>
                <button type="button" class="btn btn-warning col-md-2">Browse</button>
                <button type="button" class="btn btn-warning col-md-2" style="margin-left: 10px;">Upload</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3" style="padding: 50px;padding-top: 0px;">
            <button type="button" class="btn btn-warning">Cancel</button>
        </div>
    </div>
</div>